.wishlist-page {
    padding: 20px;
  }
  
  .wishlist-page h2 {
    text-align: center;
  }
  
  .wishlist-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .wishlist-page ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .wishlist-page ul li button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .wishlist-page ul li button:hover {
    background-color: #c82333;
  }
  